<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Correo: {{user}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{user}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list >
    <ion-item *ngFor="let branch of Data"
              [routerLink]="['/detalle-gira/', branch.idbranch]" >
      <ion-label>{{branch.name}}</ion-label>
        
    </ion-item>
  </ion-list>
</ion-content>